@model MVCDashboard.LoginData

<style type="text/css">
    .roleTable td, .roleTable th {
        border: 1px solid black;
        padding: 5px;
    }
</style>

<h1>DashboardDifferentUserData Example</h1>

@using (Html.BeginForm()) {
    @Html.DevExpress().ComboBoxFor(m => m.UserName, settings => {
        settings.Properties.NullText = "Select User";
        settings.Properties.AllowNull = true;
        settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
        settings.Properties.Items.Add("Admin");
        settings.Properties.Items.Add("User");
    }).GetHtml()
    <br />
    @Html.DevExpress().Button(settings => {
        settings.Name = "btnSubmit";
        settings.Text = "Sign in";
        settings.UseSubmitBehavior = true;
    }).GetHtml()
}

<hr />
<table class="roleTable">
    <thead>
        <tr>
            <th>Role</th>
            <th>Sql</th>
            <th>Json</th>
            <th>Excel</th>
            <th>Object</th>
            <th>OLAP</th>
            <th>Extract</th>
            <th>Entity Framework</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Admin</td>
            <td>Categories</td>
            <td>Customers</td>
            <td>Bikes</td>
            <td>Sales</td>
            <td>Customers</td>
            <td>Sales</td>
            <td>Categories</td>
        </tr>
        <tr>
            <td>User</td>
            <td>Categories from different source with optional filter</td>
            <td>Customers from different source with optional filter</td>
            <td>Bikes from different source</td>
            <td>Sales from different source</td>
            <td>-</td>
            <td>-</td>
            <td>Categories from different source</td>
        </tr>
        <tr>
            <td>Guest</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
</table>